============================================================
  Host      : {{ ansible_hostname }}
  IP        : {{ ansible_host }}
  OS        : {{ ansible_distribution }} {{ ansible_distribution_version }}
  Managed   : Terraform + Ansible via GitHub Actions
============================================================
